---
layout: default
---

{% include carousel.html %}

<div class="row">
  <div class="col-sm-4">
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <h3>Latest Publications</h3>
    <div class="list-group">
        {% for event in site.categories.calendar %}
            <a href="{{event.url}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{event.title}}</h4>
                <p class="list-group-item-text">{{event.date}}</p>
            </a>
        {% endfor %}
    </div>
  </div><!-- /.col-sm-4 -->
</div>

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAlKitaabAndAsSunnah%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
