<!-- Begin Header -->

<div class="row" id="overlap">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <a href="/" class="thumbnail">
      <img src="/images/logo.png" alt="..." />
    </a>
  </div>
  <div class="col-md-8">
    {% include nav.html %}
  </div>
</div>

{% if page.title %}
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <h1>{% if page.category %}
        {{page.category}}:
        {% endif %}
        {{ page.title }}</h1>
  </div>
</div>

<div class="row">&nbsp;</div>
{% endif %}

<!-- End Header -->
