<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">About KSP</a></li>
            <li><a href="/about/mission">Our Mission</a></li>
            <li class="divider"></li>
            <li><a href="/about/contact">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book Catalog <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/catalog">All Books</a></li>
            <li role="presentation" class="dropdown-header">Series</li>
            <li><a href="/catalog/fiqh-handbooks">Fiqh Handbooks</a></li>
            <li><a href="/catalog/the-inevitable-journey">The Inevitable Journey</a></li>
            <li><a href="/catalog/the-muslim-family">The Muslim Family</a></li>
            <li><a href="/catalog/iman-made-easy">Iman Made Easy</a></li>
            <li><a href="/catalog/enter-into-islam-completely">Enter into Islam Completely</a></li>
            <li role="presentation" class="dropdown-header">Other Titles</li>
            <li><a href="/catalog/other/the-spirtual-journey-at-tabukyyah">The Spirtual Journey</a></li>
            <li><a href="/catalog/other/ibrahim-a-nation-in-one-man">Ibrahim, A Nation in One Man</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/resources/where-to-buy">Where to Buy</a></li>
            <li><a href="/resources/KSP-FLIER-12_07.pdf">PDF Book Catalog</a></li>
            <li><a href="http://islamiclectures.us/MJ.html">Audio Lectures</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
