<div class="col-sm-4 col-6 book-item">
  <a class="book-link" href="#{{ page.slug }}" data-toggle="modal">
    <img class="img-fluid" src="/img/covers/{{ page.slug }}.png" alt="{{ page.title }}">
    <div class="enlarge"></div>
  </a>
</div>

<div id="view_{{ page.slug }}" style="display: none">
  <h2>{{ page.title }}</h2>
  <hr class="star-primary">
  <img class="img-fluid img-centered" src="/img/covers/{{ page.slug }}.png" alt="" />
  <p>
    {{ page.pages }}pp • {{ page.price }} • published: {{ page.published_date }}
    {% if page.isbn %}
      • ISBN: {{ page.isbn }}
    {% endif %}
  </p>
  {{ content }}
</div>
