<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Books by Muhammad Jibaly published by Al-Kitaab and as-Sunnah Publications">
    <meta name="author" content="Muhammad Jibaly">
    <title>K&amp;S Publications</title>
  </head>

  <body id="page-top">

    {{ content }}

    {% include footer.html %}

    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <div class="book-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="/style.min.css" rel="stylesheet">

    <script src="/js.min.js"></script>
  </body>

</html>
