<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Books by Muhammad Jibaly published by Al-Kitaab and as-Sunnah Publications">
    <meta name="author" content="Muhammad Jibaly">
    <title>K&amp;S Publications</title>
  </head>

  <body id="page-top">

    {{ content }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="/style.min.css" rel="stylesheet">

    <script src="/js.min.js"></script>
  </body>

</html>
